@font-face {
  font-family: "PT_Sans";
  src: url("../fonts/PT_Sans.ttf");
}

@font-face {
  font-family: "Gotham_Pro";
  src: url("../fonts/Gotham_Pro.ttf");
}

@font-face {
  font-family: "Amsterdam_Deco_One";
  src: url("../fonts/Amsterdam_Deco_One.ttf");
}
