.header {
    font-family: "Gotham_Pro";
    font-size: 13px;
    &__content {
        max-width: 1500px;
        margin: 0 auto;
    }

    &__top {
        padding: 36px 0 28px 0;
    }

    &__bottom {
    }
}
.top {

    &__body {
    }

    &__menu {
        margin: 0 auto;

    }
}
.top-menu {

    &__list {
        display: flex;
        justify-content: center;
    }

    &__link {
        margin: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #262626;
        white-space: pre;
    }
    &__link a:hover {
        text-decoration: underline;
        transition-duration: 10s;
    }

    &__list-bp{
        display: none;
    }
}
.bottom {

    &__body {
        background: #ffffff;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px;
        padding: 23px 0 25px 0;
    }

    &__roster {
    }
    &__roster-2 {
        display: block;
    }
    &__menu {
        padding: 0 24px 30px 24px; //*
    }
}
.navigation {

    &__left {
        color: #DFA94A;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 190px;
    }
    &__right{
        display: flex;
        justify-content: flex-end;
        width: 190px;
    }

    &__burger {
        cursor: pointer;
        width: 46px;
        height: 46px;
        border: 1px solid #DFA94A;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__line{
        background:  #DFA94A;
        height: 2px;
        width: 22px; 
        margin: 2px 0px;
    }

    &__left:hover &__text-1{
        color: rgb(204, 115, 32);
        text-decoration: underline;
    }

    &__text-1 {
        margin-left: 14px;
        cursor: pointer;
    }
    &__text-2 {
        margin-right: 15px;
    }
    &__text-3 {
        margin-left: 7px;
    }

    &__center {
    }

    &__logo {
    }

    &__breakpoint-1 {
        display: flex;
        align-items: center;
    }

	&__breakpoint-2 {
        display: none;
	}

    &__basket {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 52px;
        height: 52px;
    }
    &__basket-icon {
        width: 46px;
        height: 46px;
        border: 1px solid #E9E9E9;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    &__purchases {
        width: 19px;
        height: 19px;
        background: #A86D06;
        color: #fff;
        border-radius: 50%;
        font-weight: bold;
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -33px;
        left: 15px;
    }
}
.bottom-menu {
    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        justify-content: center;
        height: 48px;
        border-top: 1px solid #E9E9E9;
        border-bottom: 1px solid #E9E9E9;
    }

    &__link {
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 0 10px;
        font-weight: bold;
        color: #262626;
        height: 21px;
        margin-top: 18px;
        transition: color 0.3s linear 0s;
    }
    &__link:hover{
        color: #DFA94A;
        transition: all 0.3s linear 0s;
    }
    &__list-mobile{
        position: relative;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.5s linear 0s;
    }
    &__list-mobile &__link{
        display: flex;
    } 
}

.search {
    position: relative;

    z-index: 3;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    transition: all 0.3s linear 0s;
    &__body {
        position: absolute;
        top: 0px;
        //right: 0;
        //margin-top: 10px;
        margin: 0 auto;
        max-width: 890px;
        width: 100%;
        height: 0;
        transition: all 0.4s linear 0s;
        overflow: hidden;
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.07);
        background: #fff;
        display: flex;
        justify-content: space-between;
        
    }
    &__input{
        font-family: "Gotham_Pro";
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        outline:none;
        padding-left: 12px;
        font-size: 13px;
    }

    &__buttom {
        cursor: pointer;
        width: 25px;
        height: 100%;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__line {
        position: relative;
        width: 40%;
        height: 2px;
        background: #262626;
    }
    &__line:nth-child(1){
        transform: rotate(-45deg);
        left: 2px;
    }
    &__line:nth-child(2){
        transform: rotate(45deg);
        right: 2px;
    }
		
}
.link-catalog{
    display: none;
}
.nemu-burger {
    width: 100%;
    height: 100%;
    background: #00000080;
    left: 0;
    top: 0%;
    position: fixed;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear 0s;
    //display: none;
    &__body {
        height: 200%;
        max-width: 375px;
        background: #fff;
        position: fixed;
        top: 0px;
        left: 0px;
        transform: translate(-100%, 0px);
        transition: all 0.8s linear 0s;
    }


    &__logo {
        width: 100%;
        text-align: center;
        padding: 50px 0 50px 0;
    }

    &__list-item {
        text-transform: uppercase;
        font-family: "Gotham_Pro";
        font-weight: bold;
        font-size: 13px;
        line-height: 48px;
        text-align: start;
        letter-spacing: 0.08em;
        color: #262626;
        padding-left: 25%;
    }
    &__row{
        height: 50%;
        overflow-y:scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //align-content: space-between;
    }

    &__close{
        height: 36px;
        width: 36px;
        background: rgba(194, 194, 194, 0.582);
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
    }

    &__line-r, &__line-l{
        width: 60%;
        height: 3px;
        background: rgb(105, 105, 105);
        position: absolute;
    }
    &__line-r{
        transform: rotate(45deg);
    }
    &__line-l{
        transform: rotate(135deg);
    }
    &__close:hover &__line-r{
        transform: rotate(135deg);
        transition: all 0.5s linear 0s;
    }
    &__close:hover &__line-l{
        transform: rotate(45deg);
        transition: all 0.5s linear 0s;
    }

    &__top{

    }

    &__bottom{
        

    }
    &__item{
        cursor: pointer;
        transition: all 0.3s linear 0s;
    }

    &__item:hover{
        color: #DFA94A;
        transition: all 0.5s linear 0s;
    }

    &__info {
        cursor: default;
        text-align: center;
        padding: 50px 10% 75px 10%;
    }
}







@media ( max-width: 990px ){
    .bottom {
        &__roster {
            //display: none; ///
        }
        &__menu {
            display: flex;
            margin: 0 24px;
            padding: 0 0 15px 0;
        }
    }
    .header{
        &__top {
            display: none;
        }   
    }
    .navigation{
        &__breakpoint-1 {
            display: none;
        }
        &__breakpoint-2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__map{
            display: flex;
            align-items: center;
            //height: 28px;
            color: #262626;
            font-weight: bold; 
        }
        &__left{
            width: 106px;
        }
        &__right{
            width: 106px;
        }
    }
    .icon-bp{
        font-size: 25px;
        padding: 0;
        height: 25px;
    }
    .bottom-menu {

        &__list {
            display: flex;
            //flex-direction: column;
            //justify-content: flex-start;
            justify-content: space-between;
            width: 100%;
            height: 48px;
        }
    
        &__link {
            display: flex;
            justify-content: flex-start;
            padding: 0 10px;
            font-weight: bold;
            color: #262626;
            height: 21px;
            margin-top: 18px;
            display: none; //
        }
    }

    .search {
        &__body {
            max-width: 940px;
        }
        &__input{
            margin-right: 10px;
        }
    

            
    }




    .link-search,.link-catalog{
        display: flex;
    }


}
@media ( max-width: 700px ){
    .navigation {
        &__left{
            width: 25px;
            height: auto;
        }
        &__right{
            width: 25px;
            height: auto;
        }
		&__burger {
            width: 25px;
            height: 25px;
            border: none
		}

		&__line {
            background: #262626;
		}
        &__text-1 {
            display: none;
        }
}

}
@media ( max-width: 540px ){
    .bottom {

		&__navigation {
            margin: 0 25px;
            padding: 25px 0 22px 0;
		}
    }
    .navigation{
        &__logo {
            width: 170.55px;
            height: 24px;
        }
        &__logo img{
            width: 100%;
            height: 100%;
        }
    }



}
@media ( max-width: 375px ){
    
}